<!-- ======= CTA Section ======= -->
<section id="cta">
  <div class="container" data-aos="fade-up">
    <div class="row">
      <div class="col-md-8">
        <h3 class="cta-title">Ready to Navigate Your Legal Challenges?</h3>
        <p class="cta-text">
          Schedule a Consultation with Our Experienced Attorneys Today.
        </p>
      </div>
      <div class="col-md-4 cta-btn-container">
        <a class="cta-btn" routerLink="contact">Contact Us Now</a>
      </div>
    </div>
  </div>
</section>
<!-- End CTA Section -->
