<!-- ======= Header ======= -->
<header id="header" class="d-flex align-items-center">
  <div class="container d-flex align-items-center justify-content-between">
    <a routerLink="/" class="logo mr-auto"
      ><img src="assets/img/logo.png" alt=""
    /></a>
    <!-- Uncomment below if you prefer to use a text logo -->
    <!-- <h1 class="logo mr-auto"><a href="index.html">Imperial</a></h1> -->

    <nav id="navbar" class="navbar">
      <ul>
        <li>
          <a class="nav-link scrollto" routerLink="/" routerLinkActive="active"
            >Home</a
          >
        </li>
        <li><a class="nav-link scrollto" routerLink="about">About</a></li>
        <li>
          <a class="nav-link scrollto" routerLink="why-us">Why Choose Us</a>
        </li>
        <li>
          <a
            class="nav-link scrollto"
            routerLink="practice-area"
            routerLinkActive="active"
            >Practice Area</a
          >
        </li>
        <li>
          <a
            class="nav-link scrollto"
            routerLink="our-attorneys"
            routerLinkActive="active"
            >Our Attorneys</a
          >
        </li>
        <li></li>

        <li>
          <a
            class="nav-link scrollto"
            routerLinkActive="active"
            routerLink="contact"
            >Contact</a
          >
        </li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
    <!-- .navbar -->
  </div>
</header>
<!-- End Header -->
