<!-- ======= Services Section ======= -->
<section id="services">
  <div class="container">
    <div class="row" data-aos="fade-up">
      <div class="col-md-12">
        <h3 class="section-title">Our Practice Areas</h3>
        <div class="section-title-divider"></div>
        <p class="section-description"></p>
      </div>
    </div>

    <div class="row" data-aos="fade-up" data-aos-delay="200">
      <div class="col-lg-4 col-md-6 service-item">
        <div class="service-icon"><i class="bi bi-briefcase"></i></div>
        <h4 class="service-title">
          <a routerLink="/contact">Personal Injury Law</a>
        </h4>
        <p class="service-description">
          Personal injury law deals with cases where individuals have been
          physically or emotionally harmed due to the negligence or intentional
          actions of others. It includes accidents, medical malpractice, product
          liability, and more.
        </p>
      </div>
      <div class="col-lg-4 col-md-6 service-item">
        <div class="service-icon">
          <i class="bi bi-card-checklist"></i>
        </div>
        <h4 class="service-title">
          <a routerLink="/contact">Employment Law</a>
        </h4>
        <p class="service-description">
          Employment law focuses on the legal relationship between employers and
          employees. It covers issues such as wrongful termination,
          discrimination, harassment, wage and hour disputes, and workplace
          safety.
        </p>
      </div>
      <div class="col-lg-4 col-md-6 service-item">
        <div class="service-icon"><i class="bi bi-bar-chart"></i></div>
        <h4 class="service-title">
          <a routerLink="/contact">Business Litigation</a>
        </h4>
        <p class="service-description">
          Business litigation involves legal disputes related to commercial and
          business matters. This can include contract disputes, partnership
          disagreements, intellectual property disputes, and other legal issues
          that may arise in a business context.
        </p>
      </div>
      <div class="col-lg-4 col-md-6 service-item">
        <div class="service-icon"><i class="bi bi-binoculars"></i></div>
        <h4 class="service-title">
          <a routerLink="/contact">Real Estate Law</a>
        </h4>
        <p class="service-description">
          Real estate law deals with legal matters related to property,
          including buying and selling, leasing, zoning, land use, and property
          disputes. It ensures that transactions are legally sound and that
          property rights are protected.
        </p>
      </div>
      <div class="col-lg-4 col-md-6 service-item">
        <div class="service-icon">
          <i class="bi bi-brightness-high"></i>
        </div>
        <h4 class="service-title">
          <a routerLink="/contact">Estate Planning</a>
        </h4>
        <p class="service-description">
          Estate planning involves the creation of legal documents to manage and
          distribute one's assets and affairs after death. This may include
          wills, trusts, powers of attorney, and healthcare directives to ensure
          the smooth transfer of assets and care decisions.
        </p>
      </div>
      <div class="col-lg-4 col-md-6 service-item">
        <div class="service-icon">
          <i class="bi bi-calendar4-week"></i>
        </div>
        <h4 class="service-title">
          <a routerLink="/contact">Criminal Defense</a>
        </h4>
        <p class="service-description">
          Criminal defense attorneys represent individuals facing criminal
          charges. They defend clients in court, ensuring their rights are
          protected and building a strong defense strategy. This practice area
          covers a range of offenses, from misdemeanors to felonies, and
          includes legal advocacy during investigations, trials, and plea
          negotiations.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- End Services Section -->
