<!-- ======= Services Section ======= -->
<section id="services">
  <div class="container-fluid">
    <div class="row" data-aos="fade-up">
      <div class="col-md-12">
        <h3 class="section-title">Our Practice Areas</h3>
        <div class="section-title-divider"></div>
        <p class="section-description"></p>
      </div>
    </div>

    <div class="row" data-aos="fade-up" data-aos-delay="500">
      <div class="d-flex justify-content-center g-2 w-100 flex-wrap">
        @for (practiceArea of practiceAreaList(); track practiceArea.id) {
        <div class="card m-3" style="width: 25rem">
          <img
            class="card-img-top"
            [src]="practiceArea.image"
            alt="Card image"
          />
          <div class="card-body">
            <h2 class="card-title">{{ practiceArea.title }}</h2>
            <p class="card-text">
              {{ practiceArea.description }}
            </p>
          </div>
        </div>
        }
      </div>
    </div>
  </div>
</section>
<!-- End Services Section -->
