<plc-alert [successMessage]="successMessage" [errorMessage]="errorMessage" />
<!-- ======= Contact Section ======= -->
<section id="contact">
  <div class="container" data-aos="fade-up">
    <div class="row">
      <div class="col-md-12">
        <h3 class="section-title">Contact Us</h3>
        <div class="section-title-divider"></div>
        <p class="section-description">
          Steven W. Weinshenk, A Professional Law Corporation
        </p>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-3 col-md-4">
        <div class="info">
          <div>
            <i class="bi bi-geo-alt"></i>
            <p>24005 Ventura Boulevard <br />Calabasas, CA 91302</p>
          </div>

          <div>
            <i class="bi bi-envelope"></i>
            <p>info&commat;stevewien.com</p>
          </div>

          <div>
            <i class="bi bi-phone"></i>
            <p>+1 5589 55488 55s</p>
          </div>
        </div>
      </div>

      <div class="col-lg-5 col-md-8">
        <div class="form">
          <form
            [formGroup]="contactForm"
            (ngSubmit)="onSubmit()"
            class="php-email-form"
          >
            <div class="form-group">
              <input
                type="text"
                name="name"
                class="form-control"
                id="name"
                placeholder="Your Name"
                formControlName="name"
                required
              />
              <h6
                *ngIf="
                  contactForm.get('name')?.touched &&
                  contactForm.get('name')?.hasError('required')
                "
              >
                Name is required.
              </h6>
            </div>
            <div class="form-group mt-3">
              <input
                type="email"
                class="form-control"
                name="email"
                id="email"
                placeholder="Your Email"
                formControlName="email"
                required
              />
            </div>
            <div class="form-group mt-3">
              <input
                type="text"
                class="form-control"
                name="phone"
                id="phone"
                placeholder="phone"
                formControlName="phone"
                required
              />
              <h6
                *ngIf="
                  contactForm.get('phone')?.touched &&
                  contactForm.get('phone')?.hasError('pattern')
                "
              >
                Invalid phone number format.
              </h6>
            </div>
            <div class="form-group mt-3">
              <textarea
                class="form-control"
                name="message"
                rows="5"
                placeholder="Message"
                formControlName="message"
                required
              ></textarea>
              <h6
                *ngIf="
                  contactForm.get('message')?.touched &&
                  contactForm.get('message')?.hasError('required')
                "
              >
                Message is required.
              </h6>
              <h6
                *ngIf="
                  contactForm.get('message')?.touched &&
                  contactForm.get('message')?.hasError('minlength')
                "
              >
                Message cannot be less than 100 characters.
              </h6>
            </div>
            <div class="text-center mt-3">
              <button type="submit">
                {{ isSending ? "Sending..." : "Send Message" }}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Contact Section -->
