<!-- ======= Hero Section ======= -->
<section id="hero">
  <div class="hero-container">
    <div data-aos="fade-in" data-aos-delay="300">
      <div class="hero-logo">
        <!-- <img
          class=""
          src="assets/img/logo.png"
          alt="Professional Law Corporation"
        /> -->
      </div>

      <h1>Welcome to Steven W. Weinshenk.</h1>
      <h2>
        <span class="typed-element"></span>
      </h2>
      <div class="actions">
        <a
          (click)="navigate('/home', 'cta')"
          class="cursor-pointer btn-get-started"
          >Get Started</a
        >
        <a routerLink="/practice-area" class="btn-services"
          >Our Practice Area</a
        >
      </div>
    </div>
  </div>
</section>
<!-- End Hero -->
